 <IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

DirectoryIndex index.php


ErrorDocument 400 / index.php?page=forbidden
ErrorDocument 401 / index.php?page=forbidden
ErrorDocument 403 / index.php?page=forbidden
ErrorDocument 404 / index.php?page=notfound
ErrorDocument 500 / index.php?page=servererror
 </IfModule>